@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'CTMKF', "Poppins", sans-serif;
}

.title {
    display: block;
    margin: 1rem;
    background: hsla(207deg, 14%, 16%, .6);
    border-radius: .4rem;
    padding: .7rem;
    font-size: x-large;
    color: white;
    border: 1px solid hsl(207deg, 27%, 57%);
}

.track_name {
    display: block;
    margin: 1rem;
    padding: .4rem;
    border-radius: .4rem;
    color: white;
    background: linear-gradient(to right, hsl(207deg, 34%, 44%), 70%, hsla(207deg, 34%, 44%, 0));
}

li.member {
    display: block;
    margin: .7rem 1rem;
    padding: .6rem;
    border-radius: .3rem;
    background: hsla(207deg, 14%, 16%, .6);
    color: white;
    font-size: large;
    border: 1px solid hsl(207deg, 27%, 57%);
}