@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    max-width: 400px;
    margin: 0;
    padding: 0;
    font-family: 'CTMKF', "Poppins", sans-serif;
    text-shadow: 0 .1em .8em black;
}

.title {
    display: block;
    margin: 1rem;
    background: ghostwhite;
    border-radius: .4rem;
    padding: .7rem;
    box-shadow: 0 0 1rem white;
    font-size: x-large;
}

.track_name {
    display: block;
    margin: 1rem;
    padding: .4rem;
    border-radius: .4rem;
    color: white;
    background: linear-gradient(to right, #c18c4f, 70%, #c18c4f00);
}

.member_root {
    display: block;
    position: relative;
    color: black;
    font-size: large;
}

.member {
    display: block;
    margin: .7em 2em .7em 1em;
    padding: .6em 1em;
    font-size: large;
    filter: drop-shadow(0 .3em 0 #ccc) drop-shadow(0 0 .4em #eee);
}

.member::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: -1;
    border-radius: .4em;
    transform: skewX(-15deg);
}

.member_root > .rating {
    display: inline;
    position: absolute;
    top: .4em;
    right: 1em;
    padding: .2em .5em;
    background-color: #c18c4f;
    border-radius: .3em;
    color: white;
    filter: drop-shadow(0 .3em 0 #A6743A) drop-shadow(0 0 .4em #c18c4f);
}

.guest_icon {
    position: absolute;
    top: .8rem;
    margin-left: .3rem;
    color: lime;
    filter: drop-shadow(0 0 1rem lime);
}